## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
# Asignar un número entero a una variable
numero_entero = 42

# Imprimir el valor del número entero con un texto descriptivo
print("Número entero:", numero_entero)

Número entero: 42

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
dato=8.5
print(type(dato))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
numero_entero = 42
print(type(numero_entero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
nombre="Javier"

5) Crear una constante que contenga el número Pi

In [8]:
PI=3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [10]:
e =2,7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [22]:
#En Python, el valor True y el valor 'True' no son lo mismo. Son dos tipos de datos diferentes: uno es un valor booleano y el otro es una cadena de caracteres.
valor='True'
valor1= True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [24]:
print(type(valor),type(valor1))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [25]:
a=2
b=5.5
s=a+b

11) Realizar una operación de suma de un número definido como string con un entero

In [27]:
a=int('3')
b=2
s=a+b

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [28]:
# Valor del número e redondeado a 4 decimales (2.7183)
e_redondeado = 2.7183

# Elevar el valor al cubo
e_cubo = e_redondeado ** 3

# Imprimir el resultado
print("El valor de e al cubo es:", e_cubo)

El valor de e al cubo es: 20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [36]:
N=float(input('Ingresar numero por teclado'))
M= N * 2
print(M)

4.0

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [38]:
# Obtener el cociente de la división de 27 entre 4 y guardarlo en una variable
cociente = 27 / 4

# Imprimir el valor del cociente
print("El cociente de la división de 27 entre 4 es:", cociente)

El cociente de la división de 27 entre 4 es: 6.75

15) De la división anterior solamente mostrar la parte entera

In [39]:
# Obtener el cociente de la división de 27 entre 4 y guardarlo en una variable
cociente = 27 // 4

# Imprimir el valor del cociente
print("El cociente de la división de 27 entre 4 es:", cociente)

El cociente de la división de 27 entre 4 es: 6

16) De la división de 27 entre 4 mostrar solamente el resto

In [41]:
# Obtener el resto de la división de 27 entre 4
resto = 27 % 4

# Imprimir el valor del resto
print("El resto de la división de 27 entre 4 es:", resto)

El resto de la división de 27 entre 4 es: 3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [47]:
# Variables con el cociente y el resto de la división de 27 entre 4
cociente = 27 // 4
resto = 27 % 4

# Calcular 27 utilizando el cociente y el resto
resultado = (cociente * 4) + resto

# Imprimir el resultado
print("El resultado es:", resultado)

El resultado es: 27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [2]:
'2'== 2

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [3]:
int('2')== 2

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [5]:
# ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
#El error en el cambio de tipo de datos a = float('3,8') se debe a que el valor '3,8' no utiliza el formato decimal válido en Python. En Python y en la mayoría de los lenguajes de programación, el separador decimal válido es el punto (.), no la coma (,).
#Para convertir una cadena de texto en un número en coma flotante (float) en Python, debes usar el punto como separador decimal, no la coma. Aquí tienes la corrección:
a = float('3.8')

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [10]:
#2+'2'unsupported operand type(s) for +: 'int' and 'str' porque no soporta el operando + mezclar los tipo  o tienen que ser los dos string o los dos int o float
# ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?no
# Ambos operandos son números enteros
resultado1 = 2 + 2
print(resultado1)  # Esto imprimirá 4

# Ambos operandos son cadenas de texto
resultado2 = '2' + '2'
print(resultado2)  # Esto imprimirá '22'

4
22

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [20]:
# Crear una lista con los elementos del menú
menu = [
    '1 - Pizza',
    '2 - Empanadas',
    '3 - Milanesas',
    '4 - Salir'
]

# Mostrar el menú por pantalla
print("Menú:",menu)

Menú: ['1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir']

23) Crear una lista que contenga los números del 1 al 10

In [23]:
numeros=[1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [27]:
numeros=[1,2,3,4,5,6,7,8,9,10]
print(numeros[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [3]:
numeros=[1,2,3,4,5,6,7,8,9,10]
numeros[2]='Javier'
print(numeros)

[1, 2, 'Javier', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [25]:
# Crear una matriz 3x3 con las letras A, B, C, D, E, F, G, H, I
matriz = [
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
]

27) Imprimir la matriz creada en el punto 26

In [26]:
# Crear una matriz 3x3 con las letras A, B, C, D, E, F, G, H, I
matriz = [
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
]

# Imprimir la matriz
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [32]:

matriz = [
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
]
matriz[1][1] ='Z'
# Imprimir la matriz
print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [41]:

matriz = [
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
]

matriz[0][0] = 1
matriz[0][1] = 2
matriz[0][2] = 3
# Imprimir la matriz
print(matriz)

[[1, 2, 3], ['D', 'E', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [44]:
# Crear una tupla con 5 marcas de ropa
marcas_ropa = ('Nike', 'Adidas', 'Levis', 'Gucci', 'Zara')

# Imprimir la tupla
print(marcas_ropa)

('Nike', 'Adidas', 'Levis', 'Gucci', 'Zara')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [46]:
# Crear una tupla con 5 marcas de ropa
marcas_ropa = ('Nike', 'Adidas', 'Levis', 'Gucci', 'Zara')

# Imprimir la tupla
print(marcas_ropa[0])

Nike

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [52]:
#Las tuplas en Python son objetos inmutables, lo que significa que una vez que se crean, no puedes modificar sus elementos. 
#Por lo tanto, si intentas modificar el segundo elemento de una tupla, obtendrás un error. 
marcas_ropa = ('Nike', 'Adidas', 'Levis', 'Gucci', 'Zara')

# Intentar modificar el segundo elemento (índice 1)
#marcas_ropa[1] = 'Puma'  # Esto generará un error no se puede moficar las tuplas una vez creada las listas si

# Imprimir la tupla
print(marcas_ropa)

('Nike', 'Adidas', 'Levis', 'Gucci', 'Zara')

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [62]:
hobbies=['cine','correr','gimnasio']
diccionario={'nombre':'Javier','Apellido':'Labrador','edad':27,'hobbies':hobbies}#puede ser creado asi o agregando directamente 'hobbies':['cine','correr','gimnasio']

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [63]:
hobbie=['cine','correr','gimnasio']
diccionario={'nombre':'Javier','Apellido':'Labrador','edad':27,'hobbies':hobbies}
print(diccionario['hobbies'])

['cine', 'correr', 'gimnasio']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [65]:
hobbie=['cine','correr','gimnasio']
diccionario={'nombre':'Javier','Apellido':'Labrador','edad':27,'hobbies':hobbies}
diccionario['edad']=35
print(diccionario['edad'])

35